html, body {
    height: 100%;
}
body {
background-color: #F9F0F8;
font-size: 1rem;
line-height: 1.5;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
}
main {
padding: 1rem;
text-align: center;
}
h1 {
font-size: 2.5rem;
line-height: 1.1;
margin-bottom: 2.5rem;
font-family: 'Space Mono', monospace;
color: #30282F;
}
@media screen and (max-width: 480px) {
h1 {
    font-size: 2rem;
}
}
p {
color: #4D5168;
margin: 1.25rem 0 0 0;
font-family: 'Jost', sans-serif;
}
a {
font-family: 'Jost', sans-serif;
color: #2B5FE0;
}